body {
    width: 1500px;
    margin: 0 auto;
}

.SC_mainImg {
    background: gray;
    width: 1500px;
    height: 300px;
    margin-top: 70px;
    margin: 70px auto 30px;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;

}

.CD_boxWrap {
    display: flex;
    border: 1px solid #000;

}

/* 왼쪽박스 영역 */
.CD_boxWrap .CD_boxLeft {
    /* background: gray; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.CD_boxLeft .CD_smallCalender {
    background: orange;
    height: 300px;
}

.CD_boxLeft .CD_selectCalender {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.CD_boxLeft .CD_selectCalender a {
    /* color: aliceblue; */
    background: black;
    width: 300px;
    text-align: center;
    margin: 15px 20px 0px;
    padding: 10px;
    border-radius: 50rem;
    /* font-size: 0.95em; */
}

.CD_boxLeft .CD_selectCalender a:nth-of-type(1) {
    background: #ffafb0;
}

.CD_boxLeft .CD_selectCalender a:nth-of-type(2) {
    background: #fcffb0;
}

.CD_boxLeft .CD_selectCalender a:nth-of-type(3) {
    background: #caa6fe;
}

.CD_boxLeft .CD_selectCalender a:nth-of-type(4) {
    background: #afffba;
}

.CD_boxLeft .CD_selectCalender a:nth-of-type(5) {
    background: #4e4e4e;
    color: white;
}


/* 오른쪽 박스 영역 */
.CD_boxWrap .CD_boxRight {
    background: rgb(250, 250, 250);
    flex-grow: 12;
}

.CD_selectYear {
    display: flex;
    /* background: gray; */
    justify-content: space-between;
    align-items: center;
    padding: 70px 25px;
    background: rgb(139, 139, 139);
    color: white;
}

/* 오른쪽박스 상단 년도 선택 section*/
.CD_leftselectYear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* 오른쪽박스 상단 년도 left section */
.CD_selectYear h2 {
    font-size: 3em;
    padding-top: 6px;
    text-align: center;
    
}
.CD_selectYear h3 {
    font-size: 1.5em;
    padding-top: 14px;
    text-align: center;
    font-weight: 300;
}

.CD_selectYear .fas {
    cursor: pointer;
    font-size: 2em;
}


/* 오른쪽박스 상단 년도 right section */
.CD_rightselectYear {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.CD_rightselectYear button {
    background: black;
    padding: 10px 20px;
}

.CD_rightselectYear button:nth-child(1) {
    margin-right: 5px;
    border-radius: 20px;
}

.CD_rightselectYear button:nth-child(2) {
    border-radius: 20px;
}

/* 메인 달력 영역 */

.CD_weekdays{
    font-size: 1.8em;
    font-weight: 400;
    display: flex;
    padding: 20px 25px;
    border-bottom: 2px solid #afafaf;
}
.CD_weekdays div{
    width: 140px;
    flex-grow: 1;
    text-align: right;
    padding: 10px;
}
/* 날짜영역 */
.CD_days{
    /* margin-top: 20px; */
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.CD_days div{
    font-size: 1.8em;
    height: 5em;
    width: 14%;
    text-align: right;
    /* flex-grow: 1; */
    padding: 25px 40px;
    /* border-right: 0.02em solid #afafaf; */
    /* border-bottom: 0.02em solid #afafaf; */
    border-spacing: 1em;   
    transition: background-color 0.3s;
}
/* 날짜 hover 보류 */
.CD_days div:hover:not(.today){
    background-color: rgb(240, 240, 240);
}
.CD_prevDate,
.CD_nextDate{
    color: #dedede;
}

.today{
    color: red;
    
}