* {font-family: 'Open Sans', sans-serif;}

/* Basic Styling */
body {
background: #EEF1FF;
width: 1920px;
margin: 0 auto;
height: 1080px;
}

.container {
  display: block;
  text-align: center;
  width: 1500px;
  /* border: 1px solid #000; */
  position: relative;
  left:0; right:0; 
  margin: 100px auto;
}

h1 {
  text-align: center;
  font-size: 2.4em;
  color: black;
  background: AAC4FF;
}


.rl_table {
  margin: auto; 
  width: 800px;
  border: 1px solid #000;
  border-collapse: collapse;
  left:0; right:0; 
  margin-left:auto; margin-right:auto;   
  position: absolute;
  
 
}


.rl_table tr:first-child {
  border-top: none;
  background: #9BBAFF;
  color: black;
}

.rl_table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: white;
  height: 40px;
} 

.rl_table tr:nth-child(odd):not(:first-child) {
  background-color: #E9EBF5;
}


.rl_table td:first-child {
  margin-top: .5em;
  /* 번호 하나씩 증가할 수 있게 function 넣기*/
}


.rl_table td:last-child {
  margin-bottom: .5em;
  /* 비고부분 */
}


.rl_table th, .rl_table td {
  text-align: center;
 
}


.rl_table {
  color: #333;
  border-radius: 10px;
  overflow: hidden;
  /* background: red; */
  margin-top: 70px;
}

.rl_table tr {
  border-color: black;
}

.rl_table th, .rl_table td {
  padding: .5em 1em;
  
} 

h3 {
  /* display: inline-block;
  position: relative;
  /* text-align: center; */





  background: #D5E2FF;
        width: 110px;
        border-radius: 50px;
        height: 25px;
        padding: 15px;
        margin-left: 350px;
        font-weight: 700;
        
}
/*


@media screen and (max-width: 601px) {
  .r1_table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .r1_table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .r1_table td:before {
    display: none;
  }
  .r1_table th,
  .r1_table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .r1_table th:first-child,
  .r1_table td:first-child {
    padding-left: 0;
  }
  .r1_table th:last-child,
  .r1_table td:last-child {
    padding-right: 0;
  }
  .r1_table th,
  .r1_table td {
    padding: 1em !important;
  }
}









h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}


h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
} */ 