@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

/* common style */
* {
    box-sizing: border-box;
}

/* 공통 body */
body {
    background-color: rgb(237, 235, 247);   
}

/* 추가 reset 사항이 있으면 아래에 적어주세요. */
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}